.title-div {
  font-family: 'Poppins', sans-serif;
  h2 {
    font-size: 90px;
    margin: 0;
    line-height: 1.1em;
  }
  position: relative;
}

.title-wrapper-div {
  color: #D4BBAE;
  cursor: pointer;
}

.clone {
  position: absolute;
  top: 0;
  left: 0;
  color: #f2dcca;
}